#buttons{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  background: #888;
}

.button{
  width:98px;
  float:left;
  border:1px solid #aaa;
  background-color: #ddd;
  font-family:helvetica;
  text-align:center;
  font-weight:bold;
  line-height:50px;
}

#glasspane{
  right: 200px;
}
